html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon") 
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/style/styles.css")   
    body
        block content
        script(src="/js/bundle.js")



